Django>=5.2
django-allauth
django-autoslug
django-extensions
stripe
Pillow
PyJWT
cryptography
requests
mysqlclient
gunicorn
whitenoise
python-decouple
certifi
charset-normalizer
idna
urllib3
cffi
pycparser
reportlab
qrcode[pil]
xhtml2pdf
django-ckeditor-5
